@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.gamepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4.1rem);
    position: relative;
}

.grid-container {
    border: 0.5px solid rgb(97, 97, 97);
}
  
.grid-row {
    display: flex;
    position: relative;
}
  
.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    border: 0.5px solid rgb(97, 97, 97); /* Adjust as needed */
    cursor: pointer;
    font-size: 2rem;
    background-color: white;
    user-select: none;
}

.grid-cell.active {
    background-color: #FDCEDF;
}

.grid-cell.wrong {
    background-color: #ff6565;
}

.clues-rows {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    transform: translate(0%, -50%);
    display: flex;
    gap: 1.6rem;
}

.clues-cols {
    display: flex;
    font-size: 1.5rem;
    line-height: 2.8rem;
    text-align: center;
}

.clues-cols > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btn-container {
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
        cursor: pointer;
        font-family: "VT323", monospace;
        font-size: 1.4rem;
        padding: 1rem;
        background-color: transparent;
        color: black;
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }
}