@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.homepage__title {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 5.0rem;
}

.center {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.center button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333; 
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.instructions {
    text-align: center;
    margin-top: 10px;
    margin-right: 150px;
    margin-left: 150px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.35rem;
    padding: 10px;
}

.instructions li {
    padding: 10px;
}

.h2p-button > button {
    font-family: "VT323", monospace !important;
    padding: 1rem;
    font-size: 1.5rem;
}

.instructions button {
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333; 
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-family: "VT323", monospace !important;
    padding: 1rem;
    font-size: 1.15rem;
}

.instructions button:hover {
    color: white;
}

.homepage h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.35rem;
}

.homepage__link-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 400px; /* Adjust width as needed */
    margin: 0 auto; /* Center the grid horizontally */
    margin-top: 50px;
    font-size: 30px;
}

.homepage__link {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    border: 2px solid #000; /* Add a border */
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    font-size: 1.8rem;
}

.homepage__link:hover {
    color: white;
}
