.store h1 {
    font-size: 70px;
}

.store-item h2 {
    font-size: 30px;
    margin-top: 20px;
}

.purchase-button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "VT323", monospace;
}

.purchase-button:hover {
    background-color: gray;
}
